body {
  margin: 0;
  background-color: white;
}

.hide {
  transform: scale(0);
}

.authenticated, .not_authenticated {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: initial;
  justify-content: space-around;
  height: 5rem;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}


.connection-btn {
  display: flex;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 2rem;
}

.row {
  background: #ccc;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  height: 25rem;

}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
