body {
  margin: 0;
  background-color: white;
}

.hide {
  transform: scale(0);
}

.authenticated, .not_authenticated {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: initial;
  justify-content: space-around;
  height: 5rem;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}


.connection-btn {
  display: flex;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 2rem;
}

.row {
  background-image: url("https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635a951d2168e95098b1bacd_horizontal%20(28).svg");
  background-size: cover;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  height: 25rem;

}

.grid-title {
  border: 1px solid black;
  border-radius: 3px;
  background: white;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.messages-wrapper {
  overflow: auto;
  display: flex;
  justify-content: flex-end;
  /* height: 19.5rem; */
  padding-right: 0.5rem;
}

.active {
  font-weight: bold;
}

#listingChannels  {
  cursor: pointer;
}

.message {
  background: white;
  border: 1px solid lightgray;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
}

.author {
  color: white;
  font-weight: bold;
}

.send-input {
  position: absolute;
  top: 90%;
  right: 33%;
}
